body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background-color: #d7bde2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  color: #f39c12;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f4d03f;
}

input {
  width: 50%;
  -webkit-appearance: textfield !important;
  margin: 0;
  -moz-appearance: textfield !important;
  border-radius: 20px;
  border: 1px solid white;
  height: 25px;
  background-color: #f8c471;
  text-align: center;
  width: 190px;
}

button {
  border-radius: 20px;
  border: 1px solid white;
  height: 30px;
  background-color: #f39c12;
  padding: 5px;
  font-family: "Oswald", sans-serif;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #d35400;
          box-shadow: 5px 5px 5px #d35400;
}

.calculator_figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.calculator_figures form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calculator_figures .buttons_results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 55%;
  margin-top: 20px;
}
.calculator_figures .square {
  background-color: #f5b041;
}
.calculator_figures .triangle {
  background-color: #f1c40f;
}
.calculator_figures .circle {
  background-color: #e74c3c;
  margin-bottom: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1c40f;
}

.data {
  margin-bottom: 20px;
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container_salary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #f1c40f;
}
.container_salary--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}
.container_salary--media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}
.container_salary--media #media_screen {
  background-color: white;
  border-radius: 20px;
  width: 50px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
}